*{
    box-sizing: border-box;
    margin: 0px;
}


.cb{
   background-color: #000;

}

.logo{
   font-family: 'font4';
}

@keyframes piscar {
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }
 
 .piscante {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 13px;
   height: 3vh;
   font-family: 'font2';
   color: green;
   animation: piscar 5s linear infinite;
 }
 

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 20vh;
   
 
}



.cabecalho h1{
  
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    
}



   .cb-s1{
      gap: 10px;
   }

   .cb-s1 img{
      height: 4vh;
      
   }

  

    

  

   
   
   
    



  .s-2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pesquisa {
   display: flex;
   flex-direction: row;
   justify-content: center;
 
  }

  .pesq{
    
    margin-top: 10%;
  }

 .barra{
   

    border: none;
    
    box-shadow: 0px 1px 5px ;
    border-radius: 30px;
    width: 20vw;
    height: 6vh;
 }
  .lupa-bt{
    border: none;
    background-color: rgb(214, 214, 214);
    border-radius: 60px;
    height: 6vh;
    width: 8vw;
    
  }

 

  .lupa{
    height: 4vh;
    
   
  }

  



   .opc-s2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'font2';
    align-items: center;
    width: 100vw;
    height: 10vh;
    
   }


   

   .opc-s2 a{
    text-decoration: none;
    color: #000;
   }

   .opc-s2 a:hover{
    text-decoration: none;
    color:  #2b8d27;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
    
   }

   .cb-s1{
      gap: 10px;
    
   
   }

   .s-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }


   .s-3 p{
      font-family: 'font4';
   }





 .mdl3{

   margin-top: 5%;
   width: 80vw;
    height: 62vh;

 }

 .s-3{
    display: flex;
    flex-direction: column;


   
 }


 .bt-s3{
      color: white;
      background-color: #000;
      border-radius: 30px;
      border: none;
      height: 5vh;
      font-family: 'font2';

    }


    .s-4{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 30px 0px 30px 0px;

    }

    .s-4 p{
      margin-top: 5%;
      font-family: 'font2';
    }


    .s4-img img {
      border-radius: 10px;
      height: 50vh;
      width: 20vw;
      transition: transform 0.5s ease; /* Adicionando a transição na propriedade 'transform' */
    }
    
    .s4-img:hover img {
      transform: scale(1.1); /* Aplicando a escala ao passar o mouse sobre a imagem */
    }
    
      .valor{
         display: flex;
         flex-direction: row;
         justify-content: start;
         align-items: flex-start;

      }

      .comprar{
        
         color: white;
         background-color: #000;
         border: none;
         font-family: 'font4';
      }


      .s-0 img{
         width: 100%;
      }


      .s-5{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      .s-5 h1{
         font-family: 'font6';
      }


      .s-6 img{
         width: 100%;
      }


      
     .verm{ 
      display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 50px 0px 50px 0px;
 

  }


   .verm a:hover{
      text-decoration: none;
      color:  #2b8d27;
   }
   .verm a{
      
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-family: 'font2';
     text-align: center;
     width: 10vw;
     height: 7vh;
     border-radius: 30px;
     background-color: #000000;
     color: white;
   }

      .rodape {
         background-color: rgb(0, 133, 29);
         width: 100vw;
         height: 40vh;
         margin-top: 10%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         font-family: 'font2';
         
      }
   
      .rodape a{
         display: flex;
         flex-direction: row;
         margin-top: 20px;
         color: rgb(255, 255, 255);
         border: none;
      }
   
      .rodape h3{
          color: #000;
         font-family: 'font1';
      }
   
      .rd4 img{
         height: 5vh;
         margin: 15px;
      }
   
     

@media only screen and (max-width: 768px){
   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  /* Cabecalho */
  .cabecalho {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 20vh;
  }
  
  .cabecalho h1 {
      font-size: 8.5vw; /* Tamanho de fonte responsivo */
  }
  
   .pesquisa{
      display: flex;
      flex-direction: row;
   }
  
  
  .barra {
      border: none;
      box-shadow: 0px 1px 5px;
      border-radius: 5vw; /* Raio responsivo para dispositivos móveis */
      width: 80%;
      max-width: 20rem; /* Largura máxima para evitar que fique muito grande */
      height: 6vh;
     
  }
  
  .lupa-bt {
      border: none;
      background-color: rgb(214, 214, 214);
      border-radius: 60px;
    
  }
  
  /* Opções */
  .opc-s2 {
      display: flex;
      justify-content: space-around;
      font-family: 'font2';
      align-items: center;
      width: 100%;
      height: 15vh;
      font-size: 10px;
      flex-wrap: wrap; /* Quebra para vários níveis em telas menores */
  }
  
  .opc-s2 a {
      text-decoration: none;
      color: #000;
      margin: 1%;
  }
  
  /* Seções */
 .valor{
   margin-left: 13%;
 }


  .s-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
  }

  .opcoes img{
   height: 2vh;
  }

  .cb-s1 img{
   height: 2vh;
  }
  
  .mdl3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80vw;
      max-width: 30rem; /* Largura máxima */
      height: auto;
      max-height: 62vh; /* Altura máxima */
      margin-top: 5%;
  }
  
  .bt-s3 {
      color: white;
      background-color: #000;
      border-radius: 3vw;
      border: none;
      height: 5vh;
      font-family: 'font2';
      margin: 2% 0;
      padding: 0 3vw; /* Espaçamento responsivo */
  }
  
  /* Imagens */
  .s-4 {
      display: flex;
      flex-wrap: wrap; /* Para quebrar em telas menores */
      justify-content: space-around;
      margin: 5% 0;
  }
  
  .s4-img {
      text-align: center;
      margin-bottom: 5%;
      width: 40%; /* Largura responsiva */
  }
  
  .s4-img img {
      border-radius: 10px;
      max-width: 100%; /* Imagem responsiva */
      height: auto;
      transition: transform 0.5s ease;
  }
  
  .s4-img:hover img {
      transform: scale(1.1);
  }

  .verm a{
   width: 30vw;
   height: 5vh;
  }
  
  /* Rodapé */
  .rodape {
      background-color: rgb(0, 133, 29);
      width: 100%;
      height: 40vh;
      margin-top: 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      font-family: 'font2';
  }
  
  .rodape a {
   font-size: 10px;
      color: rgb(255, 255, 255);
      border: none;
      margin: 2% 0;
  }
  
  .rodape h3 {
      color: #000;
      font-family: 'font1';
  }
  
  .rd4 img {
      height: 5vh;
      margin: 15px;
  }
  
  #tik {
      height: 5vh;
  }
  
}

     